.Table {
	overflow-x: scroll;
	width: 100%;
}

.Table .Table__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Table table {
	border: 1px solid black;
	border-collapse: collapse;
}

.Table table tr th {
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	background-color: #eeeeee;
}

.Table table tr th * {
	vertical-align: middle;
}

.Table table tr td, .Table table tr th {
	padding: 8px;
	border: 1px solid black;
	border-collapse: collapse;
	min-width: fit-content;
}

@media (max-width: 768px) {
	.Table .Table__header {
		flex-direction: column;
		grid-gap: 16px;
	}
	
	.Table .Table__header div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
